@CHARSET "UTF-8";

.ui-widget,.ui-widget .ui-widget {
	font-size: 100% !important;
}

.ui-rating-star a,.ui-rating-on a {
	height: 32px;
	width: 32px;
	background-size: 32px;
}

.ui-rating-star a {
	background-position: 0 -64px;
}

.ui-rating-star-on a {
	background-position: 0 -96px;
}